<nav class="navbar">
    <div class="navbar__content">
        <section class="navbar__flight-info">
            <p>Vuelo <span>1</span> de <span>2</span></p>
            <h3>hacia <span>PTY</span></h3>
        </section>
        <section class="navbar__navigation">
            <div class="navbar__nav-button navbar__nav-button--left ">
                <button class="navbar__button navbar__button--inactive">
                    <img src="./booking/btn-left.svg" alt="Vuelo Anterior" class="navbar__button-icon">
                </button>
                <span class="navbar__button-text " >Vuelo Anterior</span>
            </div>
            <div class="navbar__nav-button navbar__nav-button--right">
                <span class="navbar__button-text">Siguiente Vuelo</span>
                <button class="navbar__button navbar__button--active" >
                    <img src="./booking/btn-right.svg" alt="Vuelo Anterior" class="navbar__button-icon">
                </button>
            </div>
        </section>
    </div>
    <div class="navbar__seating">
        <section class="navbar__seat-map">
            <div class="navbar__seat-row">
                <span class="navbar__seat">A</span>
                <span class="navbar__seat">B</span>
                <span class="navbar__seat">C</span>
            </div>
            <div class="navbar__seat-row">
                <span class="navbar__seat">D</span>
                <span class="navbar__seat">E</span>
                <span class="navbar__seat">F</span>
            </div>
        </section>
    </div>
</nav>