<nav>
    <div>
    <section>
        <p>Vuelo <span>1</span> de <span>2</span></p>
        <h3>Hacia <span>PTY</span></h3>
    </section>
    <section>
        <div>
            <button> <- </button>
            <span>Vuelo Anterior</span>
        </div>
        <div>
            <button> -> </button>
            <span>Siguiente Vuelo</span>
        </div>
    </section>
    </div>
    <div>
        <section>
            <div>
                <span>A</span>
                <span>B</span>
                <span>C</span>
            </div>
            <div>
                <span>D</span>
                <span>E</span>
                <span>F</span>
            </div>
        </section>
    </div>
   
</nav>