<section class="container-register">
    <form [formGroup]="form" class="form" (ngSubmit)="Submit($event)" aria-label="form">
        <h3 class="form__title">Acerca de ti</h3>

        <div class="form__about-you">
            <div>
                <label class="form__label">
                    <span>Nombre:</span>
                    <input 
                        type="text" 
                        formControlName="name" 
                        class="form__input"
                        [class.input-error]="form.get('name')?.invalid && form.get('name')?.touched"
                        placeholder="Ingrese su nombre completo"
                    />
                    <small class="error" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                        Nombre inválido (solo letras).
                    </small>
                </label>

                <label class="form__label">
                    <span>Nacionalidad:</span>
                    <input 
                        type="text" 
                        formControlName="nacionality" 
                        class="form__input"
                        [class.input-error]="form.get('nacionality')?.invalid && form.get('nacionality')?.touched"
                        placeholder="Ingrese su país de residencia"
                    />
                    <small class="error" *ngIf="form.get('nacionality')?.invalid && form.get('nacionality')?.touched">
                        Nacionalidad inválida (solo letras).
                    </small>
                </label>
            </div>

            <div>
                <label class="form__label">
                    <span>ID de Documento:</span>
                    <input 
                        type="text" 
                        formControlName="documentId" 
                        class="form__input"
                        [class.input-error]="form.get('documentId')?.invalid && form.get('documentId')?.touched"
                        placeholder="Ingrese su documento de identidad"
                    />
                    <small class="error" *ngIf="form.get('documentId')?.invalid && form.get('documentId')?.touched">
                        Este campo es obligatorio.
                    </small>
                </label>

                <label class="form__label">
                    <span>Teléfono:</span>
                    <input 
                        type="tel" 
                        formControlName="phoneNumber" 
                        class="form__input"
                        [class.input-error]="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched"
                        placeholder="Ingrese su número de teléfono"
                    />
                    <small class="error" *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
                        Ingrese un número válido (solo números y +).
                    </small>
                </label>
            </div>

        </div>

        <hr />

        <h3 class="form__title">Credenciales</h3>

        <div class="form__credentials">
            <label class="form__label">
                <span>Email:</span>
                <input 
                    type="email" 
                    formControlName="email" 
                    class="form__input"
                    [class.input-error]="form.get('email')?.invalid && form.get('email')?.touched"
                    placeholder="Ingrese su correo electrónico"
                />
                <small class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                    Ingrese un correo válido.
                </small>
            </label>

            <label class="form__label">
                <span>Contraseña:</span>
                <input 
                    type="password" 
                    formControlName="password" 
                    class="form__input"
                    [class.input-error]="form.get('password')?.invalid && form.get('password')?.touched"
                    placeholder="Ingrese su contraseña"
                />
                <small class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                    Mínimo 5 caracteres.
                </small>
            </label>
        </div>
        <a href="http://localhost:8080/oauth2/authorization/google" aria-label="Registrarse" class="google-login-button">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png" alt="Google" class="google-login-button__image" />
            Registrarse Con Google
        </a>
        <button type="submit" class="form__button" aria-label="send form">Crear Cuenta</button>
    </form>
</section>
