<div *ngIf="loading" class="loading">
  <img class="loading__gif" src="home/loader.gif" alt="">

  <div class="loading__container">
    <div class="loading__container-spinner"></div>
    <p class="loading__container-text">Cargando</p>
  </div>

  <div class="loading__info">
    <img class="loading__info-img" src="home/loading.svg" alt="AirSofka - Volver al inicio" />
    <div>
      <h2 class="loading__info-title">Tu seguridad es nuestra prioridad</h2>
      <p class="loading__info-description">Hemos fortalecido nuestros protocolos de bioseguridad para que puedas viajar sin preocupaciones.</p>
    </div>
  </div>

  <img class="loading__logo" src="home/logo-dark.png" alt="AirSofka - Volver al inicio" />
</div>