<section class="main">
  <div class="main__container">
    <div class="main__seat-map">
      <!-- Información del pasajero actual -->
      <div class="main__passenger-info">
        <h3>Seleccionando asiento para:</h3>
        <p>{{ currentPassenger?.name }} {{ currentPassenger?.lastName }}</p>
        <p *ngIf="currentPassenger?.departureSeat">
          Asiento de ida: <span class="main__selected-seat">{{ currentPassenger?.departureSeat }}</span>
        </p>
        <p *ngIf="currentPassenger?.returnSeat">
          Asiento de regreso: <span class="main__selected-seat">{{ currentPassenger?.returnSeat }}</span>
        </p>
      </div>

      <!-- Header con seat column labels -->
      <div class="main__seat-service-area">
        <div class="main__service-item">
          <img src="./booking/bathroom.svg" alt="Baños">
          <p>Baños</p>
        </div>
        <div class="main__service-item">
          <img src="./booking/coffe.svg" alt="Servicio">
          <p>Servicio</p>
        </div>
      </div>

      <!-- Columnas de asientos -->
      <div class="main__seat-columns">
        <div class="main__col-left">
          <div class="main__seat-label">A</div>
          <div class="main__seat-label">B</div>
        </div>
        <div class="main__col-number"></div>
        <div class="main__col-right">
          <div class="main__seat-label">E</div>
          <div class="main__seat-label">F</div>
        </div>
      </div>

      <!-- Asientos dinámicos -->
      <ng-container *ngIf="flight">
        <!-- Clase Ejecutiva (Business Class) -->
        <ng-container *ngFor="let row of [1, 2, 3, 4]">
          <div class="main__seat-row">
            <div class="main__col-left">
              <ng-container *ngFor="let col of ['A', 'B']">
                <div class="main__seat" [ngClass]="getSeatClass(row, col)">
                  <button 
                    [disabled]="!isSeatAvailable(row, col)"
                    [class.selected]="isSeatSelected(row, col)"
                    (click)="onSeatClick(row, col)">
                    <img *ngIf="getSeatPrice(row, col) > 0" src="./booking/dollar-sign.svg" alt="Premium">
                  </button>
                </div>
              </ng-container>
            </div>
            <div class="main__col-number">{{ row }}</div>
            <div class="main__col-right">
              <ng-container *ngFor="let col of ['E', 'F']">
                <div class="main__seat" [ngClass]="getSeatClass(row, col)">
                  <button 
                    [disabled]="!isSeatAvailable(row, col)"
                    [class.selected]="isSeatSelected(row, col)"
                    (click)="onSeatClick(row, col)">
                    <img *ngIf="getSeatPrice(row, col) > 0" src="./booking/dollar-sign.svg" alt="Premium">
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

        <!-- Separador de clases -->
        <div class="main__class-separator">
          <div class="main__separator-label main__separator-label--left">Clase Económica</div>
          <div class="main__separator-label main__separator-label--right">Clase Ejecutiva</div>
        </div>

        <!-- Clase Económica (Economy) -->
        <ng-container *ngFor="let row of [5, 6, 7, 8, 9, 10, 11]">
          <div class="main__seat-row">
            <div class="main__col-left">
              <ng-container *ngFor="let col of ['A', 'B', 'C']">
                <div class="main__seat" [ngClass]="getSeatClass(row, col)">
                  <button 
                    [disabled]="!isSeatAvailable(row, col)"
                    [class.selected]="isSeatSelected(row, col)"
                    (click)="onSeatClick(row, col)">
                    <img *ngIf="getSeatPrice(row, col) > 0" src="./booking/dollar-sign.svg" alt="Economy">
                  </button>
                </div>
              </ng-container>
            </div>
            <div class="main__col-number">{{ row }}</div>
            <div class="main__col-right">
              <ng-container *ngFor="let col of ['D', 'E', 'F']">
                <div class="main__seat" [ngClass]="getSeatClass(row, col)">
                  <button 
                    [disabled]="!isSeatAvailable(row, col)"
                    [class.selected]="isSeatSelected(row, col)"
                    (click)="onSeatClick(row, col)">
                    <img *ngIf="getSeatPrice(row, col) > 0" src="./booking/dollar-sign.svg" alt="Economy">
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

        <!-- Asientos de emergencia -->
        <ng-container *ngFor="let row of [17, 18]">
          <div class="main__seat-row">
            <div class="main__col-left">
              <ng-container *ngFor="let col of ['A', 'B', 'C']">
                <div class="main__seat" [ngClass]="getSeatClass(row, col)">
                  <button 
                    [disabled]="!isSeatAvailable(row, col)"
                    [class.selected]="isSeatSelected(row, col)"
                    (click)="onSeatClick(row, col)">
                    <img *ngIf="getSeatPrice(row, col) > 0" src="./booking/dollar-sign.svg" alt="Emergency">
                  </button>
                </div>
              </ng-container>
            </div>
            <div class="main__col-number">{{ row }}</div>
            <div class="main__col-right">
              <ng-container *ngFor="let col of ['D', 'E', 'F']">
                <div class="main__seat" [ngClass]="getSeatClass(row, col)">
                  <button 
                    [disabled]="!isSeatAvailable(row, col)"
                    [class.selected]="isSeatSelected(row, col)"
                    (click)="onSeatClick(row, col)">
                    <img *ngIf="getSeatPrice(row, col) > 0" src="./booking/dollar-sign.svg" alt="Emergency">
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

        <!-- Asientos favorables -->
        <ng-container *ngFor="let row of [19, 20]">
          <div class="main__seat-row">
            <div class="main__col-left">
              <ng-container *ngFor="let col of ['A', 'B', 'C']">
                <div class="main__seat" [ngClass]="getSeatClass(row, col)">
                  <button 
                    [disabled]="!isSeatAvailable(row, col)"
                    [class.selected]="isSeatSelected(row, col)"
                    (click)="onSeatClick(row, col)">
                    <img *ngIf="getSeatPrice(row, col) > 0" src="./booking/dollar-sign.svg" alt="Favorable">
                  </button>
                </div>
              </ng-container>
            </div>
            <div class="main__col-number">{{ row }}</div>
            <div class="main__col-right">
              <ng-container *ngFor="let col of ['D', 'E', 'F']">
                <div class="main__seat" [ngClass]="getSeatClass(row, col)">
                  <button 
                    [disabled]="!isSeatAvailable(row, col)"
                    [class.selected]="isSeatSelected(row, col)"
                    (click)="onSeatClick(row, col)">
                    <img *ngIf="getSeatPrice(row, col) > 0" src="./booking/dollar-sign.svg" alt="Favorable">
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

        <!-- Asientos regulares -->
        <ng-container *ngFor="let row of [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]">
          <div class="main__seat-row">
            <div class="main__col-left">
              <ng-container *ngFor="let col of ['A', 'B', 'C']">
                <div class="main__seat main__seat--premium">
                  <button 
                    [disabled]="!isSeatAvailable(row, col)"
                    [class.selected]="isSeatSelected(row, col)"
                    (click)="onSeatClick(row, col)">
                  </button>
                </div>
              </ng-container>
            </div>
            <div class="main__col-number">{{ row }}</div>
            <div class="main__col-right">
              <ng-container *ngFor="let col of ['D', 'E', 'F']">
                <div class="main__seat aaaaa" [ngClass]="getSeatClass(row, col)">
                  <button 
                    [disabled]="!isSeatAvailable(row, col)"
                    [class.selected]="isSeatSelected(row, col)"
                    (click)="onSeatClick(row, col)">
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

        <!-- Servicios inferiores -->
        <div class="main__bottom-services">
          <div class="service-row">
            <div class="main__service-item">
              <img src="./booking/bathroom.svg" alt="Baños">
              <p>Baños</p>
            </div>
            <div class="main__service-item">
              <img src="./booking/bathroom.svg" alt="Baños">
              <p>Baños</p>
            </div>
          </div>
          <div class="service-center">
            <div class="main__service-item">
              <img src="./booking/coffe.svg" alt="Servicio">
              <p>Servicio</p>
            </div>
          </div>
        </div>

        <!-- Navegación entre pasajeros -->
        <div class="main__passanger-navigation">
          <button class="btn-prev" (click)="onPreviousPassenger()"><</button>
          <div class="main__passenger-indicators">
            <span *ngFor="let passenger of passengers; let i = index" 
                  [class.active]="passenger.id === currentPassenger?.id"
                  [class.completed]="passenger.departureSeat && passenger.returnSeat">
              <span>{{ i + 1 }}</span>
            </span>
          </div>
          <button class="btn-next" (click)="onNextPassenger()">></button>
        </div>
      </ng-container>
      </div>
    </div>
  
</section>