<section class="main">
    <div class="main__container">
      <div class="main__seat-map">
        <!-- Header with seat column labels -->
        <div class="main__header">
          <div class="header-label">A</div>
          <div class="header-label">B</div>
          <div class="header-label">&nbsp;</div>
          <div class="header-label">E</div>
          <div class="header-label">F</div>
        </div>
        

        <div class="main__seat-service-area">
          <div class="main__service-item">
            <img src="./booking/bathroom.svg" alt="Baños">
            <p>Baños</p>
          </div>
          <div class="main__service-item">
            <img src="./booking/coffe.svg" alt="Servicio">
            <p>Servicio</p>
          </div>
        </div>
        
    
        <div class="main__seat-columns">
          <div class="main__col-left">
            <div class="main__seat-label">A</div>
            <div class="main__seat-label">B</div>
          </div>
          <div class="main__col-number"></div>
          <div class="main__col-right">
            <div class="main__seat-label">E</div>
            <div class="main__seat-label">F</div>
          </div>
        </div>
        
        <div class="main__executive-class">
          <!-- Fila 01 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__diagonal-seat"></div>
              <div class="main__diagonal-seat"></div>
            </div>
            <div class="main__col-number">01</div>
            <div class="main__col-right">
              <div class="main__diagonal-seat"></div>
              <div class="main__diagonal-seat"></div>
            </div>
          </div>
          
          <!-- Fila 02 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__diagonal-seat"></div>
              <div class="main__diagonal-seat"></div>
            </div>
            <div class="main__col-number">02</div>
            <div class="main__col-right">
              <div class="main__diagonal-seat"></div>
              <div class="main__diagonal-seat"></div>
            </div>
          </div>
          
          <!-- Fila 03 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__diagonal-seat"></div>
              <div class="main__diagonal-seat"></div>
            </div>
            <div class="main__col-number">03</div>
            <div class="main__col-right">
              <div class="main__diagonal-seat"></div>
              <div class="main__diagonal-seat"></div>
            </div>
          </div>
        </div>
        
        <!-- Separador de clases -->
        <div class="main__class-separator">
          <div class="main__separator-label main__separator-label--left">Clase Económica</div>
          <div class="main__separator-label main__separator-label--right">Clase Ejecutiva</div>
        </div>
        
        <!-- Cabeceras de las columnas de asientos para Clase Económica -->
        <div class="main__seat-columns">
          <div class="main__col-left">
            <div class="main__seat-label main__seat-label--left">A</div>
            <div class="main__seat-label main__seat-label--left">B</div>
            <div class="main__seat-label main__seat-label--left">C</div>
          </div>
          <div class="main__col-number"></div>
          <div class="main__col-right">
            <div class="main__seat-label main__seat-label--left">D</div>
            <div class="main__seat-label main__seat-label--left">E</div>
            <div class="main__seat-label main__seat-label--left">F</div>
          </div>
        </div>
        
        <!-- Filas de clase económica -->
        <div class="main__economy-class">
          <!-- Fila 05 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__seat main__seat--premium"><button> <img src="./booking/dollar-sign.svg"> </button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
            <div class="main__col-number">05</div>
            <div class="main__col-right">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
          </div>
          
          <!-- Fila 06 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
            <div class="main__col-number">06</div>
            <div class="main__col-right">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
          </div>
          
          <!-- Fila 07 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
            <div class="main__col-number">07</div>
            <div class="main__col-right">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
          </div>
          
          <!-- Fila 08 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
            <div class="main__col-number">08</div>
            <div class="main__col-right">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
          </div>
          
          <!-- Fila 09 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
            <div class="main__col-number">09</div>
            <div class="main__col-right">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
          </div>
          
          <!-- Fila 10 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
            <div class="main__col-number">10</div>
            <div class="main__col-right">
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--premium"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
          </div>
          
          <!-- Fila 17 (Salida de emergencia) -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__seat main__seat--emergency"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--emergency"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--emergency"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
            <div class="main__col-number">17</div>
            <div class="main__col-right">
              <div class="main__seat main__seat--emergency"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--emergency"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--emergency"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
          </div>
          
          <!-- Fila 18 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__seat main__seat--favorable"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--favorable"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__diagonal-seat"></div>
            </div>
            <div class="main__col-number">18</div>
            <div class="main__col-right">
              <div class="main__diagonal-seat"></div>
              <div class="main__diagonal-seat"></div>
              <div class="main__diagonal-seat"></div>
            </div>
          </div>
          
          <!-- Fila 19 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__seat main__seat--favorable"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__diagonal-seat"></div>
              <div class="main__diagonal-seat"></div>
            </div>
            <div class="main__col-number">19</div>
            <div class="main__col-right">
              <div class="main__diagonal-seat"></div>
              <div class="main__diagonal-seat"></div>
              <div class="main__seat main__seat--favorable"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
          </div>
          
          <!-- Fila 20 -->
          <div class="main__seat-row">
            <div class="main__col-left">
              <div class="main__seat main__seat--favorable"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--favorable"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__diagonal-seat"></div>
            </div>
            <div class="main__col-number">20</div>
            <div class="main__col-right">
              <div class="main__diagonal-seat"></div>
              <div class="main__seat main__seat--favorable"><button><img src="./booking/dollar-sign.svg"></button></div>
              <div class="main__seat main__seat--favorable"><button><img src="./booking/dollar-sign.svg"></button></div>
            </div>
          </div>
          
          <!-- Filas 21-29 (Asientos regulares) -->
          <ng-container *ngFor="let row of [21, 22, 23, 24, 25, 26, 27, 28, 29]">
            <div class="main__seat-row">
              <div class="main__col-left">
                <div class="main__seat main__seat--regular" *ngFor="let col of ['A', 'B', 'C']">
                  <button *ngIf="isSeatAvailable(row, col)"></button>
                  <button *ngIf="!isSeatAvailable(row, col)" disabled></button>
                </div>
              </div>
              <div class="main__col-number">{{row}}</div>
              <div class="main__col-right">
                <div class="main__seat main__seat--regular" *ngFor="let col of ['D', 'E', 'F']">
                  <button *ngIf="isSeatAvailable(row, col)"></button>
                  <button *ngIf="!isSeatAvailable(row, col)" disabled></button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        
        <!-- Bottom service areas -->
        <div class="main__bottom-services">
          <div class="service-row">
            <div class="main__service-item">
              <img src="./booking/bathroom.svg" alt="Baños">
              <p>Baños</p>
            </div>
            <div class="main__service-item">
              <img src="./booking/bathroom.svg" alt="Baños">
              <p>Baños</p>
            </div>
          </div>
          <div class="service-center">
            <div class="main__service-item">
              <img src="./booking/coffe.svg" alt="Servicio">
              <p>Servicio</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>