@use "../../../../../../../shared/src/infrastructure/ui/styles/variables.scss" as variables;
@use "../../../styles/mixins.scss" as mixin;

.pse-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.4rem;
  @include mixin.font-base;

  &__form-group {
    margin-bottom: 1.5rem;
  }
  span{
    color: variables.$red;
  }
  &__error-message {
    color: variables.$gray;
    margin-top: 0.5rem;

    small {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }
  }
  &__radio-group {
    display: flex;
    gap: 20px;
    margin-bottom: 1.4rem;
    padding: 2.0rem;
    align-items: center;

    label {
      font-size: 14px;
      color: variables.$black;
      display: flex;
      align-items: center;
      gap: 5px;

      input[type="radio"] {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
  }

  &__input-inline {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      font-weight: 400;
    }

    input {
      padding: 1.4rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1.4rem;

      &:focus {
        border-color: #0078d4;
        outline: none;
      }
      &.ng-invalid.ng-touched {
        border-color: #d9534f;
        box-shadow: 0 0 4px rgba(217, 83, 79, 0.5);
      }
    }
  }
}
