<article class="fly-details">
  <!-- Encabezado con información del vuelo -->
  <div class="fly-details__header-container">
    <div class="fly-details__image-container">
      <img src="booking/details-image.jpg" alt="Ciudad" width="80px" height="80px" class="fly-details__image" />
    </div>
    <section class="fly-details__header">
      <h2 class="fly-details__title">
        {{ flyDestination()?.destination.name }}
      </h2>
      <p class="fly-details__dates">
        {{ flyOrigin()?.departureTime | date: 'MMM dd' }} - {{ flyDestination()?.arrivalTime | date: 'MMM dd' }} ✈ 2
      </p>
    </section>
  </div>

  <div class="fly-details__info">
    <p class="fly-details__route">
      {{ flyOrigin()?.origin.abbreviation }} · 
      {{ flyOrigin()?.departureTime | date: 'h:mm a' }} → 
      {{ flyOrigin()?.destination.abbreviation }} · 
      {{ flyOrigin()?.arrivalTime | date: 'h:mm a' }}
    </p>
    <p class="fly-details__date">
      {{ flyOrigin()?.departureTime | date: 'EEE, MMM dd, yyyy' }}
    </p>

    <p class="fly-details__route">
      {{ flyDestination()?.destination.abbreviation }} · 
      {{ flyDestination()?.departureTime | date: 'h:mm a' }} → 
      {{ flyDestination()?.origin.abbreviation }} · 
      {{ flyDestination()?.arrivalTime | date: 'h:mm a' }}
    </p>
    <p class="fly-details__date">
      {{ flyDestination()?.departureTime | date: 'EEE, MMM dd, yyyy' }}
    </p>
  </div>

  <section class="fly-details__pricing">
    <span class="fly-details__label">TARIFA AÉREA</span>
    <div class="fly-details__fare"> 
      <span class="fly-details__value">
        Ida y vuelta ({{ flyPassengers()?.passengers.adults }} adulto, {{ flyPassengers()?.passengers.adults > 1 ? 's' : '' }}
        {{ flyPassengers()?.passengers.children }} niño, {{ flyPassengers()?.passengers.children > 1 ? 's' : '' }}
        {{ flyPassengers()?.passengers.infants }} bebé, {{ flyPassengers()?.passengers.infants > 1 ? 's' : '' }})
      </span>
      <span class="fly-details__price">
        {{ (flyOrigin()?.prices + flyDestination()?.prices) | currency: 'COP' }}
      </span>
    </div>

    <div class="fly-details__subtotal">
      <span class="fly-details__label">Subtotal</span>
      <span class="fly-details__price">
        {{ (flyOrigin()?.prices + flyDestination()?.prices) | currency: 'COP' }}
      </span>
    </div>

    <div class="fly-details__taxes">
      <span class="fly-details__label">Tasas e impuestos</span>
      <span class="fly-details__price">
        {{ (flyOrigin()?.tax + flyDestination()?.tax) | currency: 'COP' }}
      </span>
    </div>

    <div class="fly-details__total">
      <span class="fly-details__label">Total</span>
      <span class="fly-details__price">
        {{ (flyOrigin()?.totalPricesInfo + flyDestination()?.totalPricesInfo) | currency: 'COP' }}
      </span>
    </div>
  </section>
</article>
