@use './../../styles/reset.scss' as reset;
@use './../../../../../../shared/src/infrastructure/ui/styles/variables.scss' as variables;
@use './../../styles/mixins' as mixins;
.layout {
    height: 100vh;
    @include mixins.flex-style(row, nowrap, 0px);
    &__aside {
        width: 18%;
        background-color: variables.$blue;
        height: 100vh;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__body {
        padding: 0px 40px;
        overflow: scroll;
        height: 100%;
    }
}