/* flight-search.component.scss */
@use "../../../../../../shared/src/infrastructure/ui/styles/variables.scss" as
  variables;
@use "../../../../../../shared/src/infrastructure/ui/styles/mixins.scss" as
  mixins;

.flight-search {
  &__form {
    background-color: variables.$white;
    border-radius: variables.$border-radius;
    box-shadow: 0 15px 20px variables.$shadow-color;
    width: 70dvw;
    @include mixins.typography-base;
  }
}
