$black: #333;
$white: #ffffff;
$gray: #666;
$green: #4caf50;
$red: #f44336;
$blue: #0032a0;
$dark-blue:#001a66;

$background-color: #f5f5f5;
$icon-primary: #1e88e5;
$icon-secondary: #757575;
$shadow-color: rgba(0, 0, 0, 0.1);

$primary-font: "Jost", sans-serif;
$secondary-font: "Montserrat", sans-serif;

$font-size-title-main: 40px;
$font-size-title-secondary: 24px;
$font-size-paragraph: 16px;
$font-size-text-secondary: 14px;
$font-size-button: 16px;
$font-size-label: 14px;
$font-size-error: 12px;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$spacing-xs: 8px;
$spacing-sm: 10px;
$spacing-md: 12px;
$spacing-base: 16px;
$spacing-lg: 24px;

$border-radius: 5px;

$icon-size-small: 16px;
$icon-size-medium: 20px;
$icon-size-large: 24px;

$header-height: 80px;
$header-shadow: 0px 2px 4px $shadow-color;

$modal-primary-color: #4CAF50;
$modal-secondary-color: #f44336;
$modal-background-color: rgba(0, 0, 0, 0.7);
$modal-text-color: #333;
$modal-warning-color: #ff9800;
$modal-border-radius: 8px;




// // Declaración de fuentes Gilroy
// @font-face {
//     font-family: 'Gilroy';
//     src: url('/projects/app/public/fonts/gilroy-regular-webfont.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
//   }
  
//   @font-face {
//     font-family: 'Gilroy';
//     src: url('/projects/app/public/fonts/gilroy-medium-webfont.woff') format('woff'),
//          url('/projects/app/public/fonts/gilroy-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
//   }
  
//   @font-face {
//     font-family: 'Gilroy';
//     src: url('/projects/app/public/fonts/gilroy-bold-webfont.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
//   }
  
//   // Declaración de fuentes Suisse Int'l
//   @font-face {
//     font-family: 'Suisse Intl';
//     src: url('/projects/app/public/fonts/SuisseIntl-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//   }
  
//   @font-face {
//     font-family: 'Suisse Intl';
//     src: url('/projects/app/public/fonts/SuisseIntl-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
//   }
  
//   @font-face {
//     font-family: 'Suisse Intl';
//     src: url('/projects/app/public/fonts/SuisseIntl-Regular.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
//   }
  
//   @font-face {
//     font-family: 'Suisse Intl';
//     src: url('/projects/app/public/fonts/uisseIntl-SemiBold.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
//   }