<div>
  <lib-section-booking-seats 
    [flight]="flight"
    [passengers]="passengers"
    [currentPassenger]="currentPassenger"
    [bussinessRows]="bussinessRows"
    [premiumRows]="premiumRows"
    [emergencyRows]="emergencyRows"
    [favorableRows]="favorableRows"
    [regularRows]="regularRows"
    [leftTwoCols]="leftTwoCols"
    [leftCols]="leftCols"
    [rightCols]="rightCols"
    [rightTwoCols]="rightTwoCols"
    [seatClasses]="seatClasses"
    [seatAvailability]="seatAvailability"
    [seatPrices]="seatPrices"
    [selectedSeats]="selectedSeats"
    (seatClicked)="onSeatClicked({ flightType: currentFlightType, seatId: $event.row + $event.col })"
    (nextPassengerRequested)="onNextPassenger()"
    (previousPassengerRequested)="onPreviousPassenger()">
  </lib-section-booking-seats>
</div>