<div>
  <lib-section-booking-seats 
    [flight]="flight"
    [passengers]="passengers"
    [currentPassenger]="currentPassenger"
    [seatClasses]="seatClasses"
    [seatAvailability]="seatAvailability"
    [seatPrices]="seatPrices"
    [selectedSeats]="selectedSeats"
    (seatClicked)="onSeatClicked({ flightType: currentFlightType, seatId: $event.seatId })"
    (nextPassengerRequested)="onNextPassenger()"
    (previousPassengerRequested)="onPreviousPassenger()">
  </lib-section-booking-seats>
</div>