<div class="new-destiny">
  <img
    alt="product tall image"
    loading="lazy"
    decoding="async"
    class="new-destiny__image"
    src="https://www.copaair.com/assets/Tall-large-nuevo-destino-SAN.webp"
  />
  <div class="new-destiny__content">
    <div class="new-destiny__banner"></div>
    <div class="new-destiny__seal">
      <img
        alt=""
        src="https://www.copaair.com/assets/Nuevo%20Destino%20Logo.svg"
        height="48"
        style="width: auto"
      />
    </div>
    <div class="new-destiny__text">
      <h2 class="new-destiny__text-title">
        Nuevo Destino: <br />
        San Diego
      </h2>
      <p class="new-destiny__text-description">
        ¡Prepárate para descubrir la joya del Pacífico! A partir del 25 de junio
        de 2025, disfruta de 4 vuelos semanales con Copa Airlines.
      </p>
      <button class="new-destiny__text-button">
        Reserva ya
        <svg
          width="8"
          height="12"
          viewBox="0 0 8 12"
          fill="#FFFFFF"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.456055 10.6L4.94163 6L0.456055 1.4L1.82123 0L7.67198 6L1.82123 12L0.456055 10.6Z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
