<nav class="header__nav" role="navigation" aria-label="main navigation">
  <div class="header__nav-container">
    <lib-logo></lib-logo>
    <menu
      class="header__nav-menu"
      role="menu"
      aria-label="Main menu navigation"
    >
      @for (route of navRouter; track route.path) {
      <li
        class="header__nav-menu-item"
        role="menuitem"
        [class.header__nav-menu-item---selected]="isRouteActive(route.path)"
      >
        <a
          class="header__nav-menu-link"
          [routerLink]="route.path"
          [title]="route.name"
        >
          <span class="header__nav-menu-text">{{ route.name }}</span>
        </a>
      </li>
      }
    </menu>
  </div>
  <div class="header__nav-user">
    <div class="header__nav-user-container">
      <button class="header__nav-user-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
          style="margin-right: 0.5rem"
          class="header__nav-user-icon"
        >
          <path
            fill-rule="evenodd"
            d="M21 9H3a1 1 0 010-2h18a1 1 0 110 2zm0 8H3a1 1 0 110-2h18a1 1 0 110 2z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span>Información</span>
      </button>
      <button class="header__nav-user-language">
        <img src="home/CO.svg" alt="Idioma" title="Idioma" /><span
          >Español</span
        >
      </button>
    </div>
    <a [routerLink]="['/users/login']" aria-label="Iniciar Sesión" class="header__nav-user-login">
      <svg
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m0 4c1.93 0 3.5 1.57 3.5 3.5S13.93 13 12 13s-3.5-1.57-3.5-3.5S10.07 6 12 6m0 14c-2.03 0-4.43-.82-6.14-2.88C7.55 15.8 9.68 15 12 15s4.45.8 6.14 2.12C16.43 19.18 14.03 20 12 20"
        ></path>
      </svg>
      <span>Iniciar sesión</span>
    </a>
  </div>
</nav>
