@use "../../../../../../../shared/src/infrastructure/ui/styles/variables.scss"
  as variables;
@use "../../../styles/mixins.scss" as mixin;
.card-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.4rem;
  &__title {
    margin-bottom: 20px;
    h2 {
      @include mixin.font-base;
      margin-bottom: 10px;
    }
    p {
      color: #999;
    }
  }
  &__form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    label {
      font-size: 1.4rem;
      margin-top: 20px;
    }
  }

  span {
    color: variables.$red;
  }

  input {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: variables.$blue-light;
      box-shadow: 0 0 4px rgba(0, 115, 230, 0.5);
      outline: none;
    }
    &.ng-invalid.ng-touched {
      border-color: #d9534f;
      box-shadow: 0 0 4px rgba(217, 83, 79, 0.5);
      height: 46px;
    }
  }

  &__error-message {
    color: variables.$gray;
    margin-top: 0.5rem;

    small {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }
  }

  &__input-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;

    .card-form__input-inline {
      display: flex;
      margin-bottom: 20px;
      width: 100%;
      max-width: 600px;

      div {
        display: flex;
        width: 80%;
        flex-direction: column;
      }
      label {
        font-size: variables.$font-size-label;
        margin-bottom: 5px;
      }
      &__#cvv {
        height: 46px;
        font-size: 60px;
      }
      input {
        padding: 14px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: variables.$font-size-label;

        &:focus {
          border-color: #0073e6;
          box-shadow: 0 0 4px rgba(0, 115, 230, 0.5);
        }
      }
      .card-form__date-fields {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-direction: row;
        .card-form__select {
          flex: 1;
          padding: 0.6rem;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }

      input[type="number"] {
        flex: 1;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
  &__select {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    height: 46px;
    margin-bottom: 20px;
  }
}
