<section class="method-options">
  <div class="payment-container">
    <div class="payment-option">
      <div class="payment-header">
        <h3>Tarjeta de crédito</h3>
        <div class="installments">
          <img src="calendar.png" alt="Pago en cuotas">
          <span>Pago en cuotas disponible*</span>
        </div>
      </div>

      <div class="credit-card">
        <div class="card-icons">
          <img src="Visa_icon.png" alt="logo de tarjeta Visa">
          <img src="MasterCard.png" alt="logo de tarjeta MasterCard">
          <img src="uatp.png" alt="logo de uatp">
          <img src="diners.png" alt="logo diners club">
        </div>
      </div>
        <div class="card-info">
          <span>Ingresa una tarjeta de crédito</span>
          <button class="select-button">Seleccionar</button>
        </div>

      <p class="disclaimer">*Pago en cuotas solo disponible para algunas tarjetas de crédito.</p>
    </div>

    <hr class="divider">

    <!-- Otras formas de pago -->
    <div class="payment-option">
      <h3>Otras formas de pago</h3>
      <div class="pse-option">
        <img src="assets/icons/pse.svg" alt="PSE">
        <div class="pse-info">
          <span>PSE Colombia</span>
          <p>Débitos a cuentas de ahorro/corriente emitidas en Colombia.</p>
        </div>
        <button class="select-button">Seleccionar</button>
      </div>
    </div>

    <!-- Botón de confirmar pago -->
    <button class="confirm-button" disabled>Confirmar Pago y Continuar</button>
  </div>


</section>
