<section class="seats-details">
    <div class="seats-details__flight-info">
        <h4 class="seats-details__flight-title">Vuelo CM 495 - 737-700 B</h4>
        <span class="seats-details__flight-duration">Duración de vuelo: 16h 42m</span>
    </div>
    
    <div class="seats-details__seats-info">
        <div class="seats-details__prices-container">
            <div class="seats-details__seat-price">
                <div class="seats-details__seat-price-info">
                 <img src="./booking/economy-extra.svg" alt="">
                 <p class="seats-details__price-label">Desde 174.540 COP</p>
                </div>
                 <span class="seats-details__price-color">CUADRADO</span>
            </div>
            <div>
                <div class="seats-details__seat-price-info">
                <p>Favorable</p>
                <p class="seats-details__price-label">Desde 95.590 COP</p>
                </div>
                <span>CUADRADO</span>
            </div>
            <div>
                <div class="seats-details__seat-price-info">
                <p>Salida de Emergencia</p>
                <p class="seats-details__price-label" >Desde 136.220 COP</p>
                </div>
                <span>CUADRADO</span>
            </div>
            <div>
                <div class="seats-details__seat-price-info">
                <p>Regular</p>
                <p class="seats-details__price-label">Gratis</p>
                </div>
                <span>CUADRADO</span>
            </div>
            <div>
                <div class="seats-details__seat-price-info">
                <img src="./booking/economy-extra.svg" alt="">
                <p class="seats-details__price-label">Desde 174.540 COP</p>
                </div>
                <span>CUADRADO</span>
            </div>

        </div>
        <div>
            <img src="./booking/info_icon.svg" alt="">
            <p>Los PreferMembers de ConnectMiles disfrutan de preselección de asientos de forma gratuita</p>

        </div>
    </div>
</section>