@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


// colores
$blue: #0032A0;
$white: #FFFfFF;
$secondary-color: #CCCCCB;
$state-pending: #f5d742;
$state-confirmed: #00c853;
$state-cancelled: #ff3d00;
$font-opacity: #666;
$font-titles: #333;

// typografia 
$font-primary: 'Jost', sans-serif;