@use "../../../../../../shared/src/infrastructure/ui/styles/variables.scss" as variables;

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 1.5rem;

  &__header {
    color: variables.$blue-dark;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

    button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  &__body {
    width: 100%;
  }

  &__months {
    color: variables.$blue-dark;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__month {
    width: 48%;
  }

  &__weekdays,
  &__weeks {
    display: flex;
    flex-direction: column;
  }

  &__weekdays {
    color: variables.$blue-dark;
    flex-direction: row;
    justify-content: center;
    gap: 35px;

    div {
      font-weight: bold;
      text-align: center;
      padding: 5px 0;
    }
  }

  &__weeks {
    div {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 5px;

      div {
        text-align: center;
        padding: 20px;
        cursor: pointer;
        border-radius: 50%;
        transition: background 0.3s;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: variables.$blue-dark;

        &:hover {
          background: #f0f0f0;
        }

        &.calendar__day--selected {
          background: #0e68ff;
          color: white;
        }

        &.calendar__day--between {
          background: #b3d4ff;
        }

        &.calendar__day--disabled {
          pointer-events: none !important;
          user-select: none;
          cursor: not-allowed;
          color: gray;
          opacity: 0.5;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    button {
      background: #0e68ff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #0c5edb;
      }

      &:active {
        background: #0a54c2;
      }
    }

    button:last-child {
      background: #f0f0f0;
      color: black;

      &:hover {
        background: #e0e0e0;
      }

      &:active {
        background: #d0d0d0;
      }
    }
  }
}