.layout {
    width: 80%;
    display: flex;
    flex-direction: row;
    &__leftSide{
      width: 60%;
      padding-left: 20px;
    }
    &__body {
      padding-left: 180px;
     }
  }
  a {
    text-decoration: none;
    color: #000;
  }
