<div class="footer">
  <div class="footer-left">
    <img class="footer-left__logo" src="home/logo-dark.png" alt="AirSofka - Volver al inicio" />

    <h2 class="footer-left__title">¿Necesitas ayuda?</h2>

    <p class="footer-left__description">Encuentre respuestas a las preguntas más comunes en nuestra sección de preguntas frecuentes. <br> También puede
      comunicarse con nosotros a través de las siguientes opciones:</p>

    <div class="footer__options">
      <a href="#">Centro de información</a>
      <a href="#">Centro de Reservaciones</a>
    </div>

    <h3 class="footer-left__session-id">ID de esta sesión: mSVjnX9K-zuP5a7I8qYBA</h3>
  </div>

  <div class="footer-right">
    <img class="footer-right__star-alliance-logo" src="https://www.copaair.com/assets/StarAlliance-Footer-Logo-01.svg"
      alt="A logo of the Star Alliance" />

    <p class="footer-right__copyright">Copyright © 2025 Copa Airlines, Incorporated. Todos los derechos reservados.</p>

    <div class="footer__options">
      <a href="#">Términos y condiciones</a>
      <span>|</span>
      <a href="#">Política de privacidad</a>
    </div>
  </div>
</div>