@use "../../../../../../../shared/src/infrastructure/ui/styles/variables.scss" as variables;
@use "../../../styles/mixins.scss" as mixin;
.billing-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.4rem;
  small{
    color: #666;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    label {
      font-size: 1.4rem;
    }
    span{
      color: red;
    }
    input {
      padding: 14px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1.4rem;


    input:focus {
      border-color: #0073e6;
      box-shadow: 0 0 4px rgba(0, 115, 230, 0.5);
      outline: none;
    }
    &.ng-invalid.ng-touched {
      border-color: #d9534f;
      box-shadow: 0 0 4px rgba(217, 83, 79, 0.5);
    }
  }
  }
  &__phone-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__phone-code {
    width: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;

  }
  &__error-message {
    color: variables.$gray;
    margin-top: 0.5rem;
    small {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }
  }

  &__info {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
  }
  &__terminos-text{
    font-size: 12px;
    font-family: variables.$secondary-font;
  }
  &__terminos{
    color: #0073e6;
    font-size: 12px;
    font-family: variables.$secondary-font;
    font-weight: bold;
  }
}
