<form class="billing-form" [formGroup]="billingForm" (ngModelChange)="onInputChange()" (input)="onInputChange()">
  <div class="billing-form__group">
    <label for="addressOne">Dirección 1<span>*</span></label>
    <input id="addressOne" formControlName="addressOne" type="text" placeholder="Ingresa dirección principal" aria-required="true">
    <div class="billing-form__error-message">
      <small *ngIf="billingForm.get('addressOne')?.touched ? billingForm.get('addressOne')?.errors?.['required'] : null">
        <span>
          <img src="required.png" width="15px" alt="icono de requerido">La dirección principal es obligatoria.
        </span>
      </small>
    </div>
  </div>

  <div class="billing-form__group">
    <label for="addressTwo">Dirección 2 (Opcional):</label>
    <input id="addressTwo" formControlName="addressTwo" type="text" placeholder="Apartamento, suite, unidad, etc.">
    <small><img src="no-required.png" width="15px" alt="icono de no requerido">Apartamento, suite, unidad, etc.</small>
  </div>

  <div class="billing-form__group">
    <label for="country">País<span>*</span></label>
    <input id="country" formControlName="country" type="text" placeholder="Ingresa país" aria-required="true">
    <div class="billing-form__error-message">
      <small *ngIf="billingForm.get('country')?.touched ? billingForm.get('country')?.errors?.['required'] : null">
        <span>
          <img src="required.png" width="15px" alt="icono de requerido">El país es obligatorio.
        </span>
      </small>
    </div>
  </div>

  <div class="billing-form__group">
    <label for="city">Ciudad<span>*</span></label>
    <input id="city" formControlName="city" type="text" placeholder="Ingresa la ciudad" aria-required="true">
    <div class="billing-form__error-message">
      <small *ngIf="billingForm.get('city')?.touched ? billingForm.get('city')?.errors?.['required'] : null">
        <span><img src="required.png" width="15px" alt="icono de requerido"> La ciudad es obligatoria.</span>
      </small>
    </div>
  </div>

  <div class="billing-form__group">
    <label for="state">Estado/Provincia<span>*</span></label>
    <input id="state" formControlName="state" type="text" placeholder="Ingresa estado o provincia" aria-required="true">
    <div class="billing-form__error-message">
      <small *ngIf="billingForm.get('state')?.touched ? billingForm.get('state')?.errors?.['required'] : null">
        <span><img src="required.png" width="15px" alt="icono de requerido">El estado o provincia es obligatorio.</span>
      </small>
    </div>
  </div>

  <div class="billing-form__group">
    <label for="postalCode">Código Postal</label>
    <input id="postalCode" formControlName="postalCode" type="text" placeholder="Ingresa código postal">
    <div class="billing-form__error-message">
      <small *ngIf="billingForm.get('postalCode')?.touched ? billingForm.get('postalCode')?.errors?.['required'] : null">
        <span><img src="required.png" width="15px" alt="Este campo es requerido">El código postal es obligatorio.</span>
      </small>
    </div>
  </div>

  <div class="billing-form__group">
    <label for="phone">Número de Teléfono*</label>
    <div class="billing-form__phone-container">
      <input
        id="phoneCode"
        formControlName="phoneCode"
        type="text"
        placeholder="+57"
        aria-required="true"
        class="billing-form__phone-code"
      />
      <input
        id="phoneNumber"
        formControlName="phoneNumber"
        type="text"
        placeholder="3162873843"
        aria-required="true"
        class="billing-form__phone-number"
      />
    </div>
    <div class="billing-form__error-message">
      <small *ngIf="billingForm.get('phoneNumber')?.touched ? billingForm.get('phoneNumber')?.errors?.['required'] : null">
        <span><img src="required.png" width="15px" alt="Este campo es requerido">El número de teléfono es obligatorio.</span>
      </small>
      <small *ngIf="billingForm.get('phoneNumber')?.touched ? billingForm.get('phoneNumber')?.errors?.['required'] : null">
        <span><img src="required.png" width="15px" alt="Este campo es requerido"> Debe ser un número de teléfono válido.</span>
      </small>
    </div>
  </div>

  <div class="billing-form__group">
    <label for="email">Correo Electrónico<span>*</span></label>
    <input id="email" formControlName="email" type="email" placeholder="Ingresa tu correo electrónico" aria-required="true">
    <small class="billing-form__info">
      <img src="no-required.png" width="15px" alt="icono de no requerido">Este correo será utilizado para solicitar reembolsos y recibir tu comprobante de compra.
    </small>
    <div class="billing-form__error-message">
      <small *ngIf="billingForm.get('email')?.touched ? billingForm.get('email')?.errors?.['required'] : null">
        <span><img src="required.png" width="15px" alt="Este campo es requerido"> El correo electrónico es obligatorio.</span>
      </small>
      <small *ngIf="billingForm.get('email')?.touched ? billingForm.get('email')?.errors?.['email'] : null">
        <span><img src="required.png" width="15px" alt="Este campo es requerido">Debe ingresar un correo electrónico válido.</span>
      </small>
    </div>
  </div>

  <div class="billing-form__checkbox">
    <input id="terms" type="checkbox">
    <label class="billing-form__terminos-text">
      He leído y acepto las <span class="billing-form__terminos">reglas de tarifa</span>,
      los <span class="billing-form__terminos">términos y condiciones de viaje </span>,
      el<span class="billing-form__terminos">contrato de transporte</span>,
      la  <span class="billing-form__terminos">política de privacidad</span>,
      la información acerca de <span class="billing-form__terminos">artículos restringidos </span>
      y los <span class="billing-form__terminos">términos y condiciones de selección avanzada de asientos.</span>
    </label>
  </div>
</form>
