@use './../../styles/variables' as variables;
.modal {
    position: fixed;
    top: 200%;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: none;
    padding: 0;
    margin: 0;
    transition: top 0.3s ease-in-out;
    font-family: variables.$font-size-title-secondary;
  
    &--visible {
      top: 0;
    }
  
    &__content {
      position: relative;
      background-color: variables.$white;
      border-radius: 5px;
      padding: 20px;
      width: 500px;
      max-height: 80vh;
      overflow-y: auto;
    }
  
    &__header {
      margin-bottom: 16px;
    }
  
    &__title {
      font-size: 1.25rem;
      font-weight: 600;
      margin: 0;
      text-align: center;
    }
  
    &__body {
      margin-bottom: 20px;
    }
  
    &__footer {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  
    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }
  
  